{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/request.css' %}">
    <title>Request Exams</title>
</head>
<body>
    <header class="container-header">

    </header>
    <section class="container-section">
        <div class="container-left">
            <h1 class="distance-control-h1"> Request Exams </h1>
            <p> Select the exams to take </p>
            <form action="{% url 'request_exams' %}" method="post">{% csrf_token %}
   
                <select class="select-control" multiple name="exams">
                    {% for exam in exams_type %}
                    <option class="opt" value="{{exam.id}}"> {{exam.nome}} </option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input  type="submit" class="btn-default"  name="request-exams" value="Request quote">
            </form>
        </div>
        <div class="container-right">
            <div class="container-card">
                <h1 class="distance-control-h1"> Preview </h1>
                <br>
                {% for exam in request_exams %}
                <div style="font-size: 20px; font-weight: bold" class="space-control">
                    <label class="label-control">
                         
                        {% if exam.disponivel == True %}
                        <img src="{% static '/img/check.png' %}"> 

                        {% else %}
                        <img src="{% static '/img/exit.png' %}"> 

                        {% endif %}
                        
                        {{exam.nome}} </label>    
                    <span class="previa-preco"> R$ {{exam.preco}} </span>     
                </div>
                {% endfor %}

                <div class="bar"></div>
                <div class="space-control">
                    <label>Total: </label><label class="previa-preco">R$ {{preco_total}}</label>
                </div>
                <br>

                <h5>Data: 08 de Setembro</h5>
                <br>

                <form action="{% url 'close_orders' %}" method="POST">{% csrf_token %}
                    {% for exams in request_exams%} <!-- Forma para coletar os dados do exam escolhido, para salvar no db -->
                        <input type="hidden" value="{{exams.id}}" name="exams">
                    {% endfor %}
                    <button class="btn-secundario">Close order</button>
                </form>

            </div>
        </div>
    </section>
</body>
</html>
